.container {
  padding: 0 2rem;
  padding-top: 2rem;
}

.container h4 {
  position: relative;
  z-index: 1;
}

.blogs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin-top: 2rem;
}
