.footer {
  padding: 1rem;
  background-color: var(--dark5);
  color: var(--gray-color);
  text-transform: uppercase;
  font-size: 0.8rem;
  margin: 2rem 0;
}

.footer_fixed,
.footer_absolute {
  left: 0;
  bottom: 0;
  z-index: 9;
  width: calc(100% - 4rem);
  margin: 2rem;
}

.footer_fixed {
  position: fixed;
}

.footer_absolute {
  position: absolute;
}

@media (max-width: 600px) {
  .footer_fixed,
  .footer_absolute {
    margin: 1rem;
    width: calc(100% - 2rem);
  }
}
