*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: inherit;
  text-decoration: none;
}

:root {
  --dark-bg: #181821;
  --light-bg: #24242F;
  --lighter-bg: #2C2C38;
  --accent-color: #FFC107;
  --white-color:#FAFAFC;
}
