@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: inherit;
  text-decoration: none;
  list-style: none;
}

:root {
  --dark1: #191923;
  --dark2: #1e1e28;
  --dark3: #20202a;
  --dark4: #23232f;
  --dark5: #2d2d39;
  --accent-color: #ffc107;
  --white-color: #fafafc;
  --gray-color: #8c8c8e;
  --lightgray-color: #8c8c8e3b;

  --small-shadow: 0 1px 4px 0 rgba(15, 15, 20, 0.1);
  --default-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
}

body {
  font-family: 'Montserrat', sans-serif;
  color: var(--white-color);
  background-color: var(--dark1);
  overflow-x: hidden;
}

.app {
  display: flex;
  margin: 1rem;
  background-color: var(--dark2);
  height: calc(100vh - 2rem);
  box-shadow: var(--default-shadow);
}

.main {
  width: calc(100% - 19.5rem);
  transition: 0.4s ease-in-out;
  position: relative;
  overflow-y: auto;
}

.main.expand {
  margin-left: -6rem;
  overflow: hidden;
}

.main.expand::after {
  display: block;
  position: fixed;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--dark1);
  z-index: 95;
  opacity: 0.4;
}

.nav_bar {
  display: none;
  background-color: var(--dark1);
  height: 75px;
  position: fixed;
  z-index: 2;
  top: 0;
  width: 100%;
  box-shadow: var(--default-shadow);
}

.top_wrap {
  background: linear-gradient(to bottom, var(--dark1), var(--dark5)),
    url('/bg.jpg');
  background-size: cover;
  background-blend-mode: darken;
  position: absolute;
  top: 0;
  left: 0;
  height: 400px;
  width: 100%;
}

.top_wrap::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--dark2);
  opacity: 0.6;
}

.recommendations_list .swiper-slide {
  height: auto !important;
}

#pagination .swiper-pagination-bullet-active {
  background-color: var(--accent-color);
  width: 20px;
  opacity: 1;
}

svg.disabled {
  opacity: 0.2;
}

@media (max-width: 920px) {
  .app {
    margin: 0;
    height: 100vh;
  }

  .main {
    width: 100%;
  }

  .main.expand {
    margin: 0;
  }

  .top_wrap {
    height: 600px;
  }

  .nav_bar {
    display: block;
  }
}
