.container {
  padding: 0 2rem;
  z-index: 1;
  position: relative;
}

@media (max-width: 920px) {
  .container {
    padding-top: 6rem;
  }
}

@media (max-width: 600px) {
  .container {
    padding: 0 1rem;
    padding-top: 6rem;
  }
}
