.menu_bar {
  background: var(--dark3);
  width: 4.5rem;
  max-width: 4.5rem;
  height: 100%;
  box-shadow: var(--default-shadow);
  position: relative;
  transition: 0.4s ease-in-out;
  z-index: 99;
}

.expand {
  width: 12rem;
  max-width: 12rem;
}

.burger_menu {
  background-color: var(--dark4);
  display: flex;
  padding: 2rem 0;
  padding-left: 23.5px;
}

.burger {
  cursor: pointer;
  position: relative;
  width: 22px;
  height: 12px;
  transition: 0.4s ease-in-out;
}

.burger span {
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--gray-color);
  transition: all 0.2s cubic-bezier(0.1, 0.82, 0.76, 0.965);
}

.burger:hover span {
  background-color: var(--white-color);
  text-shadow: 0 0 3px rgba(250, 250, 252, 0.4);
}

.burger span:first-child {
  top: 0;
}

.burger span:last-child {
  bottom: 0;
}

.burger:not(.active):hover span:first-child {
  width: 26px;
}

.burger:not(.active):hover span:last-child {
  width: 12px;
}

.burger.active span:first-child {
  transform: rotate(45deg);
  top: 5px;
}

.burger.active span:last-child {
  transform: rotate(-45deg);
  bottom: 5px;
}

.footer {
  background-color: var(--dark4);
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  padding: 1.5rem 0;
  padding-left: 1.5rem;
  width: 100%;
  color: var(--gray-color);
}

.footer div {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  background-color: var(--dark1);
  border-radius: 50%;
  transition: 0.3s ease-in-out;
}

.footer .active {
  background-color: var(--accent-color);
  color: var(--dark1);
}

@media (max-width: 920px) {
  .menu_bar {
    position: fixed;
    height: 100vh;
    right: -4.5rem;
  }

  .burger {
    position: absolute;
    left: -3rem;
  }

  .burger_menu {
    height: 76px;
  }

  .expand .burger {
    left: 1.5rem;
  }
}
