.container {
  padding: 0 2rem;
  z-index: 1;
  position: relative;
}

.head {
  margin: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.category {
  font-size: 0.7rem;
  padding: 0.5rem 1rem;
  color: var(--gray-color);
  background-color: var(--dark1);
  border-radius: 1rem;
}

.details {
  display: flex;
  margin: 2rem 0;
  gap: 1rem;
}

.details > div {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dark5);
  color: var(--gray-color);
  box-shadow: var(--default-shadow);
}

.details div:last-child {
  min-height: 100%;
  margin: 0;
}

.details p {
  font-size: 0.8rem;
  color: var(--gray-color);
  margin-top: 1rem;
}

.card_footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  padding: 2rem;
  color: var(--gray-color);
  background-color: var(--dark5);
  font-size: 0.7rem;
  font-weight: 600;
}

.card_footer a,
.details a {
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

.card_footer a:hover,
.details a:hover {
  color: var(--white-color);
  text-shadow: 0 0 3px rgba(250, 250, 252, 0.4);
}

.btn {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  text-transform: uppercase;
  transition: 0.4s ease-in-out;
  cursor: pointer;
}

.btn.active {
  color: var(--accent-color);
}

.btn:first-child {
  justify-self: start;
}

.btn:last-child {
  justify-self: end;
}

.btn:hover {
  gap: 1rem;
}

.btn:hover {
  gap: 1rem;
}

@media (max-width: 920px) {
  .container {
    padding-top: 6rem;
  }
}

@media (max-width: 600px) {
  .container {
    padding: 0 1rem;
    padding-top: 6rem;
  }

  .card_footer {
    padding: 1rem;
    grid-template-columns: 1fr;
    gap: 0.5rem;
  }

  .details {
    display: flex;
    flex-direction: column-reverse;
    margin: 2rem 0;
    gap: 1rem;
  }

  .details div:last-child {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2rem;
    padding: 0.7rem;
  }
}
