.card {
  background-color: var(--dark5);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: var(--default-shadow);
  width: 100%;
  aspect-ratio: 1.5;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: 0.4s ease-in-out;
}

.card:hover {
  background-size: 110% 110%;
}

.content {
  width: 100%;
  font-size: 0.8rem;
  background-color: var(--dark4);
  position: absolute;
  bottom: 0;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.content p {
  color: var(--gray-color);
}

.btn {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  text-transform: uppercase;
  color: var(--accent-color);
  font-size: 0.7rem;
  font-weight: 600;
  transition: 0.4s ease-in-out;
  cursor: pointer;
}

.btn:hover {
  gap: 1rem;
}
