.card {
  background-image: url(https://images.unsplash.com/photo-1518791841217-8f162f1e1131?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60);
  background-color: aliceblue;
  background-size: 100%;
  background-position: center;
  box-shadow: var(--default-shadow);
  width: 100%;
  aspect-ratio: 1.5;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: 0.4s ease-in-out;
}

.card:hover {
  background-size: 110%;
}

.content {
  font-size: 0.8rem;
  background-color: var(--dark4);
  position: absolute;
  bottom: 0;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.content p {
  color: var(--gray-color);
}

.btn {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  text-transform: uppercase;
  color: var(--accent-color);
  font-size: 0.7rem;
  font-weight: 600;
  transition: 0.4s ease-in-out;
}

.btn:hover {
  gap: 1rem;
}
