.details {
  padding: 1rem;
}

.details ul {
  border-bottom: 1px solid var(--lightgray-color);
}

.details li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.6rem;
}

.details span {
  color: var(--gray-color);
  font-size: 0.9rem;
}

.details svg {
  display: block;
  width: 100%;
}

.hobbies {
  color: var(--gray-color);
  font-size: 0.8rem;
  padding: 0.6rem 0;
}

.hobbies li {
  margin: 0.7rem 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.hobbies p {
  width: 100%;
}

.hobbies svg {
  color: var(--accent-color);
  width: 0.7rem;
}

.btn {
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 1.5px;
  font-weight: 600;
  color: var(--gray-color);
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem 0;
  cursor: pointer;
}

.btn svg {
  width: 20px;
}

.btn:hover {
  color: var(--white);
  text-shadow: 0 0 3px rgba(250, 250, 252, 0.4);
}
