.sidebar {
  display: flex;
  flex-direction: column;
  width: 15rem;
  min-width: 15rem;
  box-shadow: var(--default-shadow);
  background-color: var(--dark3);
  position: relative;
  z-index: 99;
  transition: 0.4s ease-in-out;
}

.icon {
  display: none;
  position: absolute;
  top: 1.7rem;
  right: 1rem;
  cursor: pointer;
  color: var(--gray-color);
  transition: 0.4s ease-in-out;
  z-index: 9;
}

.icon:hover {
  color: var(--white-color);
  text-shadow: 0 0 3px rgba(250, 250, 252, 0.4);
}

@media (max-width: 920px) {
  .sidebar {
    position: absolute;
    height: 100vh;
    left: -15rem;
  }

  .icon {
    display: block;
    right: -2rem;
  }

  .sidebar.expand {
    left: 0;
  }

  .sidebar.expand::before {
    display: block;
    position: fixed;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--dark1);
    opacity: 0.4;
    z-index: -1;
  }

  .sidebar.expand .icon {
    right: 1rem;
  }
}
