.slider {
  width: 100%;
}

.footer {
  display: flex;
}

.pagination span {
  width: 10px;
  background-color: var(--gray-color);
  border-radius: 5px;
  opacity: 0.5;
  height: 4px;
  transition: 0.4s ease-in-out;
}

.navigation {
  display: flex;
  margin-top: 0.3rem;
}

.navigation svg {
  color: var(--gray-color);
  transition: 0.4s ease-in-out;
  cursor: pointer;
}

.navigation svg:hover {
  color: var(--white-color);
  text-shadow: 0 0 3px rgba(250, 250, 252, 0.4);
}
